html, body {
    font-size: 12px;
    font-family: "Arial";
}

table.minimalistBlack {
    border: 3px solid #000000;
    max-width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-wrap: break-word;
}

table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 12px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
    font-size: 12px;
}

table.minimalistBlack thead th {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.minimalistBlack tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}

table.minimalistBlack tfoot td {
    font-size: 12px;
}

table.minimalistBlack tbody tr td:last-child {
    text-align: right;
}

table.minimalistBlack tbody tr th {
    vertical-align: top
}