<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <p>{{ total_data }}</p>
    <table>
        <tr>
            <th>Tanggal</th>
            <th>Material</th>
            <th>Nama Produk</th>
            <th>Penggunaan</th>
            <th>Satuan</th>
        </tr>
        {% for manufacture in manufacture_list %}
            <tr>
                <td rowspan="{{ manufacture.total_data }}">{{ manufacture.date }}</td>
                {% for data in manufacture.data %}
                <td>{{ data.item_name }}</td>
                <td>{{ data.product_name }}</td>
                <td>{{ data.usage }}</td>
                <td>{{ data.unit }}</td></tr>
                {% endfor %}
        {% endfor %}
    </table>
</body>
</html>